@import "base/_global";
@import "helpers/_variables";
@import "components/_buttons";
@import "components/_icons";
@import "components/_logo";

//App Styling
.login {
    text-align: center;
    position: relative;
    //background: red;
    background: url(../images/chef.jpg) 0 0;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    @media screen and (max-width: 767px) {
      background-position: center center;
    }
    .color-overlay {
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgb(42, 36, 66));
      height: 100%;
      width: 100%;
      z-index: 0;
    }

  &__panel {
    display: flex;
    justify-content: space-between;
    //background: yellow;
    color: #fff;
    font-weight: $font-weight__medium;
    &--signal-bar {
      &::before {
        content: "";
        background: url(../images/icons/signal.svg) no-repeat center;
        width: 25px;
        height: 13px;
        display: inline-block;
        margin: 0 4px;
        vertical-align: middle;
      }
      &::after {
        content: "";
        background: url(../images/icons/wifi.svg) no-repeat center;
        width: 25px;
        height: 13px;
        display: inline-block;
        margin-left: 5px;
      }
    }
    &--status-bar {
      &::before {
        content: "";
        background: url(../images/icons/bluetooth.svg) no-repeat center;
        width: 25px;
        height: 13px;
        display: inline-block;
      }
      &::after {
        content: "";
        background: url(../images/icons/battery.svg) no-repeat center;
        width: 25px;
        height: 13px;
        display: inline-block;
        margin: 0 4px;
      }
    }
  }
}

//Animation Experiment
@keyframes moveDown {
  from {
    transform: translate(0,-400px);
  }
  to {
    transform: translate(0,0);
  }
}
