//Variables

$twitter-blue: #33ccff;
$twitter-blue-light: #5cd6ff;
$facebook-blue: #3a589e;
$facebook-blue-light: #5771ac;
$violet: #352f4c;
$violet-light: #4a445e;
$violet-dark: #2a2442;
$light-green: #32c9c0;

$font-weight__regular: 400;
$font-weight__medium: 500;
$font-weight__bold: 700;
